name: infrastructure
on: push
jobs:
  provision:
    name: Deploy infrastructure
    runs-on: ubuntu-latest
    env:
      ENV_FILE: ./infrastructure/envvars
    steps:
    - uses: actions/checkout@v2
    - name: Source VARS
      run: source $ENV_FILE
    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - name: Azure CLI Action
      uses: Azure/cli@v1.0.0
      with:
        inlineScript: |
          source $ENV_FILE
          chmod +x $GITHUB_WORKSPACE/infrastructure/create.sh
          $GITHUB_WORKSPACE/infrastructure/create.sh